[Unit]
Description=Node-RED
After=network.target

[Service]
ExecStart=/opt/{{ node_red_org}}/node-red/service.mjs
WorkingDirectory=/opt/{{ node_red_org }}/node-red
User={{ node_red_uid }}
Group={{ node_red_gid }}
Restart=always
RestartSec=10
Environment="DOTENV_CONFIG_PATH={{ node_red_dotenv_path }}"
[Install]
WantedBy=multi-user.target
